.pagination {
  max-width: 100%;
  display: flex;
  margin: -0.5rem;

  .item {
    background-color: #fff;
    padding: 0.25rem;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;

    &Wrapper {
      padding: 0.5rem;
    }

    &.selected {
      background-color: coral;
      font-weight: 700;
      color: white;
    }
  }
}
